@import './base.css';

body {
  background-color: #0d1a3c; /* Dark Blue */
  color: #ffffff; /* White */
}

#app {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
